<table mat-table [dataSource]="pedidos">

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="actions" mat-cell *matCellDef="let pedido;">
      <button matTooltip="Editar" mat-icon-button (click)="update(pedido)">
        <mat-icon>edit</mat-icon>
      </button>
      <button matTooltip="Excluir" mat-icon-button (click)="delete(pedido)">
        <mat-icon>delete</mat-icon>
      </button>
      <button matTooltip="Itens" mat-icon-button (click)="abrirItens(pedido)">
        <mat-icon>list</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="nomeCliente">
    <th mat-header-cell *matHeaderCellDef>Nome Cliente</th>
    <td mat-cell *matCellDef="let element">{{element.nomeCliente}}</td>
  </ng-container>

  <ng-container matColumnDef="emailCliente">
    <th mat-header-cell *matHeaderCellDef>Email Cliente</th>
    <td mat-cell *matCellDef="let element">{{element.emailCliente}}</td>
  </ng-container>

  <ng-container matColumnDef="pago">
    <th mat-header-cell *matHeaderCellDef>Pago</th>
    <td mat-cell *matCellDef="let element">
      <input type="checkbox" disabled [checked]="element.pago">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<ng-template #PedidosListaHeader>
  <button (click)="openPedidosEditor()">
    <mat-icon>add</mat-icon>
    <span>Novo</span>
  </button>
</ng-template>
