<div class="header">
  <span>
    Cadastrar Produto
  </span>
  <button (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="content">
  <div class="form">
    <form [formGroup]="form">
      <div class="group-1">
        <mat-form-field>
          <mat-label>Nome Produto</mat-label>
          <input matInput formControlName="nomeProduto" [required]="true">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Valor</mat-label>
          <input matInput type="number" formControlName="valor" [required]="true">
        </mat-form-field>
      </div>
    </form>
  </div>
</div>


<div class="footer">
  <button [disabled]="!canSave" (click)="save()" mat-raised-button color="primary">Salvar</button>
</div>
